In [32]:
from IPython.core.interactiveshell import InteractiveShell 
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
import numpy as np
import pandas as pd

cars = pd.read_csv('mtcars.csv')
cars.head()
cars.tail()
cars.describe()

type(cars)

cars.shape # outputs the dimensions of the DataFrame (rows, columns) in out case it will be (32, 12)

cars.columns # outputs the column names of the DataFrame

cars.dtypes # outputs the data types of each column

cars.T # for transposing the DataFrame (swapping rows and columns)

sorted_cars = cars.sort_index(axis=1, ascending=False) # sorts the DataFrame by its index in descending order
sorted_cars.head()

cars_sorted_by_mpg = cars.sort_values(by='mpg', ascending=False) # sorts the DataFrame by the 'mpg' column in descending order
cars_sorted_by_mpg.head()

cars_sorted_by_mpg_ascending = cars.sort_values(by='mpg', ascending=True) # sorts the DataFrame by the 'mpg' column in ascending order
cars_sorted_by_mpg.head()

cars['displ/cyl'] = cars['disp'] / cars['cyl'] # creates a new column 'displ/cyl' by dividing 'disp' by 'cyl'
cars['price'] = np.nan # adds a new column 'price' with NaN values
cars.head() 

cars.loc[:, ['mpg', 'cyl', 'disp']] # selects all rows and specific columns 'mpg', 'cyl', and 'disp'

cars.loc[0:4, ['mpg', 'cyl', 'disp']] # selects the first 5 rows and specific columns 'mpg', 'cyl', and 'disp'

cars.iloc[0:5, 0:3] # selects the first 5 rows and the first 3 columns using integer-location based indexing

cars.iloc[0:5, : ] # selects the first 5 rows and all columns using integer-location based indexing

cars.iloc[0:5, [0,2,9]] # selects the first 5 rows and specific columns (0, 2, and 9) using integer-location based indexing

cars.iloc[16, 1] # selects the row with index 18 and all columns using label-based indexing

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.5,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.5,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.6,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.6,1,1,4,2

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

pandas.core.frame.DataFrame

(32, 12)

Index(['model', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am',
       'gear', 'carb'],
      dtype='object')

model     object
mpg      float64
cyl        int64
disp     float64
hp         int64
drat     float64
wt       float64
qsec     float64
vs         int64
am         int64
gear       int64
carb       int64
dtype: object

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
model,Mazda RX4,Mazda RX4 Wag,Datsun 710,Hornet 4 Drive,Hornet Sportabout,Valiant,Duster 360,Merc 240D,Merc 230,Merc 280,...,AMC Javelin,Camaro Z28,Pontiac Firebird,Fiat X1-9,Porsche 914-2,Lotus Europa,Ford Pantera L,Ferrari Dino,Maserati Bora,Volvo 142E
mpg,21.0,21.0,22.8,21.4,18.7,18.1,14.3,24.4,22.8,19.2,...,15.2,13.3,19.2,27.3,26.0,30.4,15.8,19.7,15.0,21.4
cyl,6,6,4,6,8,6,8,4,4,6,...,8,8,8,4,4,4,8,6,8,4
disp,160.0,160.0,108.0,258.0,360.0,225.0,360.0,146.7,140.8,167.6,...,304.0,350.0,400.0,79.0,120.3,95.1,351.0,145.0,301.0,121.0
hp,110,110,93,110,175,105,245,62,95,123,...,150,245,175,66,91,113,264,175,335,109
drat,3.9,3.9,3.85,3.08,3.15,2.76,3.21,3.69,3.92,3.92,...,3.15,3.73,3.08,4.08,4.43,3.77,4.22,3.62,3.54,4.11
wt,2.62,2.875,2.32,3.215,3.44,3.46,3.57,3.19,3.15,3.44,...,3.435,3.84,3.845,1.935,2.14,1.513,3.17,2.77,3.57,2.78
qsec,16.46,17.02,18.61,19.44,17.02,20.22,15.84,20.0,22.9,18.3,...,17.3,15.41,17.05,18.9,16.7,16.9,14.5,15.5,14.6,18.6
vs,0,0,1,1,0,1,0,1,1,1,...,0,0,0,1,0,1,0,0,0,1
am,1,1,1,0,0,0,0,0,0,0,...,0,0,0,1,1,1,1,1,1,1
gear,4,4,4,3,3,3,3,4,4,4,...,3,3,3,4,5,5,5,5,5,4
carb,4,4,1,1,2,1,4,2,2,4,...,2,4,2,1,2,2,4,6,8,2

,wt,vs,qsec,mpg,model,hp,gear,drat,disp,cyl,carb,am
0,2.620,0,16.46,21.0,Mazda RX4,110,4,3.90,160.0,6,4,1
1,2.875,0,17.02,21.0,Mazda RX4 Wag,110,4,3.90,160.0,6,4,1
2,2.320,1,18.61,22.8,Datsun 710,93,4,3.85,108.0,4,1,1
3,3.215,1,19.44,21.4,Hornet 4 Drive,110,3,3.08,258.0,6,1,0
4,3.440,0,17.02,18.7,Hornet Sportabout,175,3,3.15,360.0,8,2,0

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,displ/cyl,price
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,26.666667,NaN
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,26.666667,NaN
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,27.000000,NaN
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,43.000000,NaN
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,45.000000,NaN

     mpg  cyl   disp
0   21.0    6  160.0
1   21.0    6  160.0
2   22.8    4  108.0
3   21.4    6  258.0
4   18.7    8  360.0
5   18.1    6  225.0
6   14.3    8  360.0
7   24.4    4  146.7
8   22.8    4  140.8
9   19.2    6  167.6
10  17.8    6  167.6
11  16.4    8  275.8
12  17.3    8  275.8
13  15.2    8  275.8
14  10.4    8  472.0
15  10.4    8  460.0
16  14.7    8  440.0
17  32.4    4   78.7
18  30.4    4   75.7
19  33.9    4   71.1
20  21.5    4  120.1
21  15.5    8  318.0
22  15.2    8  304.0
23  13.3    8  350.0
24  19.2    8  400.0
25  27.3    4   79.0
26  26.0    4  120.3
27  30.4    4   95.1
28  15.8    8  351.0
29  19.7    6  145.0
30  15.0    8  301.0
31  21.4    4  121.0

    mpg  cyl   disp
0  21.0    6  160.0
1  21.0    6  160.0
2  22.8    4  108.0
3  21.4    6  258.0
4  18.7    8  360.0

               model   mpg  cyl
0          Mazda RX4  21.0    6
1      Mazda RX4 Wag  21.0    6
2         Datsun 710  22.8    4
3     Hornet 4 Drive  21.4    6
4  Hornet Sportabout  18.7    8

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,displ/cyl,price
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,26.666667,NaN
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,26.666667,NaN
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,27.000000,NaN
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,43.000000,NaN
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,45.000000,NaN

               model  cyl  am
0          Mazda RX4    6   1
1      Mazda RX4 Wag    6   1
2         Datsun 710    4   1
3     Hornet 4 Drive    6   0
4  Hornet Sportabout    8   0

np.float64(14.7)

TypeError: Must provide 'func' or tuples of '(column, aggfunc).